body {
  background-image: none;
  font-family: 'Crimson Pro', serif;
  background-color: white;
}

header {
  z-index: 1;
  background-color: white;
  color: black;
}

h1 {
  background-color: white;
}

header a {
  display: inline-block;
  background-color: white;
  color: black;
}

h1:hover {
  color: rgb(47, 155, 171);
}

.navbar {
  align-items: flex-start;
}

footer {
  background-color: white !important;
  color: black;
}

main {
  margin: auto;
  width: 70%;
  margin-top: 150px;
  margin-bottom: 50px;
}

img {
  
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 1px;
}

.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 5px;
  width: 100%;
  filter: grayscale(1) brightness(0.6);
  border-radius: 5px;
  cursor: pointer;
}

.column img:hover {
  filter: grayscale(0);
}




@media screen and (max-width: 650px) {
    h1 {
      padding-left: 10px;
      padding-top: 15px;
      font-size: 2.4rem;
  }
  h1 a:hover {
    color: rgb(47, 155, 171);
    font-size: 2.5rem;
  }

  main {
    width: 95%;
    margin-top: 50px;
  }
  .row {
    max-width: 90%;
    margin-top: 150px;
  }
  .column {
    flex: 100%;
    max-width: 50%;
  }
  .column img {
    filter: grayscale(1) brightness(0);
    transform: scale(2.5);
  }
}
