
body{
  background-image: none;
  font-family:  'Crimson Pro', serif;
  background-color: white;
}
.column img{
}
header{
z-index: 1;
background-color: white;
color: black;
}
h1{
background-color: white;
}
h2{
  display: inline-flexbox;
  text-align: center;
}
header a{
display: inline-block;
background-color: white;
  color: black;
}  
h1:hover{
color: rgb(47, 155, 171);
}
.navbar{
align-items: flex-start;
}
.nav-photo{
  visibility: visible;
  width: 100%;
}
.nav-photo ul{
  visibility: visible;
  display: flex;
  padding-left: auto;
}
.nav-photo li{
  visibility: visible;
  font-size: large;
  color: black;
  display: flex;
  margin: auto;
}
#gallery{
  visibility: hidden;
}
.titre-h2{
  font-size: 1.3rem;
}
.gallery-back{
  
  text-decoration: none;
  color: black;
}
.gallery-back:hover{
  
  font-size: inherit;
  color: rgb(47, 155, 171);
  }
footer{
background-color: white !important;
  color: black;
}
main{
margin: auto;
width: 70%;
margin-top: 150px;
margin-bottom: 50px;
}
.row {
display: flex;
flex-wrap: wrap;
padding: 1px;
}

.column {
flex: 25%;
max-width: 33.3%;
padding: 0 4px;
}

.column img {
  width: 100%;
  height: auto;
}

.column img {
margin-top: 20px;
width: 100%;
filter: grayscale(1) brightness(0.9);
border-radius: 5px;
cursor: pointer;

}

.column img:hover {
filter: grayscale(0);

}

/* 
@media screen and (max-width: 320px){
header{ 
  margin-bottom: 100px;

}
  main .container{
    margin-left: 100px;
    padding-left: 5rem;
  }
  .column {
    flex: 100%;
    max-width: 50%;
  }
  .column img {
    filter: grayscale(1) brightness(0);
    transform:scale(2.5); 
  }

   
  main{
    margin: auto;
    width: 70%;
    margin-top: 150px;
    margin-bottom: 50px;
    } 
h1{
  font-size: 2rem;


}
h2{
  font-size: 0.5rem;
}
 
*/
@media screen and (max-width: 350px){

  h2{
    font-size: 1rem;
  }
  .titre-h2{
  font-size: 0.7rem;
}
}
  
@media screen and (max-width: 650px){
 




}
@media screen and (max-width: 850px){
  .titre-h2{
    font-size: 0.8rem;
  }
  h1{
    padding-left: 10px;
    padding-top: 15px;
    font-size: 2.4rem;
  
  
  }
  h1 a:hover{
    color: rgb(47, 155, 171);
    font-size: 2.5rem;
  }
  .gallery-back{
    font-size: 1rem;
  }
  
}
  

